

<!-- local_vmoodle/namefilter -->
<form name="namefilter" method="GET" action="{{{filterurl}}}">
    <input type="text" name="namefilter" value="{{namefilter}}" />
    <input type="submit" value="{{#str}}filter, local_vmoodle{{/str}}" />
</form>
<!-- /local_vmoodle/namefilter -->